.container {
    width: 700px;
    height: 350px;
    background-color: #BCC7CF;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.texto1 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #333;
}
.high {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-left: 1rem;
}
