/* EditPerfil.module.css */

.bg {
    background-color: #f4f6f8;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .header {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .container {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-bottom: 50px;
    margin-top: 20px;
  }
  
  .highbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .text {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .hand {
    color: #1E9CFA;
    font-size: 36px;
  }
  
  .lowcontainer {
    display: flex;
    flex-direction: column;
  }
  
  .btndiv {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  