.card {
  background-color: var(--bg-color);
  padding: 1rem 2rem;
  border-radius: 1.25rem;
  max-width: 90%;
  margin: auto;
}

.loader {
  color: rgb(124, 124, 124);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  text-align: center;
}

.words {
  overflow: hidden;
  position: relative;
  display: inline-block;
  height: 2.5rem; /* Ajuste para altura de uma palavra */
  margin-left: 6px;
  vertical-align: middle;
}

.words::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    var(--bg-color) 10%,
    transparent 30%,
    transparent 70%,
    var(--bg-color) 90%
  );
  z-index: 20;
}

.word {
  display: block;
  height: 100%;
  color: #235BD5;
  animation: spin_4991 5s infinite;
}

.melhore {
  font-size: 1.5rem;
}

/* Responsividade */
@media (max-width: 768px) {
  .loader {
    font-size: 1.8rem;
    padding: 8px;
  }

  .melhore {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .loader {
    font-size: 1rem;
    padding: 3px;
  }

  .melhore {
    font-size: .8rem;
  }

  .words {
    margin-left: 4px;
    height: 1.5rem; 
  }
}

/* Animação */
@keyframes spin_4991 {
  0%, 10% { transform: translateY(0); }
  20%, 35% { transform: translateY(-100%); }
  45%, 60% { transform: translateY(-200%); }
  70%, 85% { transform: translateY(-300%); }
  95%, 100% { transform: translateY(-400%); }
}
